html, body {
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px 0px 20px 0px;
  border: 1px double black;
}

form label {
  padding: 20px 20px 20px 20px;
  margin: 0px 20px 0px 0px;
  border: 1px double black;
}

form label:hover {
  font-size: 20px;
  transition: 0.5s;
}

form label input {
  margin-left: 10px;
  text-align: center;
}
form label input:hover {
  background-color: #b4eec7;
  transition: 0.5s;
}

h1 {
  font-size: 60px;
  padding-left: 70px;
  margin-bottom: -6px;
  -webkit-text-stroke: 2px #00a75d;
  -webkit-text-fill-color: transparent;
  
}

marquee {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px 30px 0px;
  background-image: url('bg.gif')
  color: white;
}

.submit {
  padding: 20px 30px 20px 30px;
  background-color: #89dea7;
  color: white;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border: 1px double black;
}

.submit:hover {
  background-color: white;
  color: #89dea7;
  text-decoration: underline;
  transition: 0.5s;
  font-size: 22px;
}

.response {
  padding: 20px 20px 20px 20px;
  margin: 0px 100px 0px 100px;
  text-align: center;
  display: block;
}